/* -----------------------------------------------
   Forms
----------------------------------------------- */

#{$all-text-inputs} {
  width:100%;
  padding:10px;
  border:none;
  background:#fff;
  border:1px solid $base-form-color;
  box-shadow: none; // fix for Firefox red highlight
  @include appearance(none); // fix for box-shadow on mobile safari
  &:focus {
    outline:0; // fix for Chrome blue highlight
  }

  @include placeholder {
    opacity:1;
    color:$base-form-color;
  }
}

input[type="search"] {
  box-sizing:border-box;
}

#{$all-button-inputs} {
  border:none;
  border-radius:0px; // removes rounded border on safari mobile
  //@include button-style();

  &:focus {
    outline:0; // fix for Chrome blue highlight
  }
}

input[type="search"] {
  box-sizing:border-box; // override for wordpress search boxes
}


.select-wrapper {
  position:relative;
  width:100%;
  height:46px;
  overflow: hidden;
  background:#fff;
  border:1px solid $base-form-color;;

  &:before {
    content:"";
    position:absolute;
    right:-1px;
    top:-1px;
    color:#fff;
    @include font-size(15px);
    line-height: 1;
    text-align: center;
    width:17px;
    height:15px;
    padding:22px;
    background:url(../images/select-arrow.svg) no-repeat center center;
    background-size:17px 12px;
    border:1px solid $base-form-color;;
  }
  
  select {
    position:relative;
    z-index: 100;
    cursor: pointer;
    width:120%;
    height:46px;
    padding:10px;
    background: transparent;
    border:none;
    box-shadow: none; // fix for Firefox red highlight
    -webkit-appearance: none; // fix for box-shadow on mobile safari

    option {
      font-style: normal;
    }
  }
}

select:-moz-focusring { // fix for Firefox selectbox dotted line
  color: transparent;
  text-shadow: 0 0 0 #000;
}

// Gravity Forms Site Wide
.gform_wrapper {
  ul, li {
    margin:0;
    padding:0;
    &:before {
      display:none;
    }
  }
  .gfield {
    padding-bottom:30px;
  }
  .ginput_full {
    @include clearfix();
  }
}
