<nav class="navigation">
  <ul>
    <li><a class="{{#if_eq page "home"}}active{{/if_eq}}" href="{{root}}"><span>Home</span></a></li>
    <li><a class="{{#if_eq page "section-one"}}active{{/if_eq}}" href="section-one"><span>Section One</span></a></li>
    <li><a class="{{#if_eq page "section-two"}}active{{/if_eq}}" href="{{root}}section-two"><span>Section Two</span></a></li>
  </ul>
</nav>
